body {
    margin: 0;
    text-align: center;
    background: #1B244A;
}

.team {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

.score {
    background: #0a0001;
    font-family: 'Cursed Timer ULiL';
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;
    color: #9AABD8;
    border-color: #9AABD8;
}